<div class="modal-content">
	<div class="modal-header">
		<h2 class="h6 modal-title"> <i class="bi bi-globe"></i> Détails Publication </h2>
	</div>
	<form action="">
		<div class="modal-body">
			<div class="row">
				<div class="col-5">
					<div class="row">
						<div class="col-12">
							<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item" *ngFor="let image of post.medias; let i = index"
										[ngClass]="{'active': i === 0}">
										<img *ngIf="image.type === 'image'" [src]="image.url" class="d-block w-100">
									</div>
								</div>
								<button class="carousel-control-prev" type="button"
									data-bs-target="#carouselExampleControls" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button"
									data-bs-target="#carouselExampleControls" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
					</div>
					<div class="row mt-4">
						<div class="col-4">
							<p class="sub">Commentaires <b> {{ post.commentaires.length }} </b> </p>
						</div>
						<div class="col-4">
							<p class="sub">Vues <b> {{ post.vue }} </b> </p>
						</div>
						<div class="col-4">
							<p class="sub">Aime <b> {{ post.aime.length }} </b> </p>
						</div>
					</div>
				</div>
				<div class="col-7">
					<h4> {{ post.titre }} </h4>
					<h6>Auteur : {{ post.user.nom }} </h6>
					<span *ngFor="let cate of post.categories" class="badge p-1 bg-info mr-2">
						{{ cate.denomination }}
					</span>
					<p [innerHTML]="post.description"></p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="close()">Fermer</button>
		</div>
	</form>
</div>