<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
	<div class="d-block mb-4 mb-md-0">
		<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
			<ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
				<li class="breadcrumb-item">
					<a routerLink="/dashboard">
						<i class="bi bi-house-door icon icon-xxs"></i>
					</a>
				</li>
				<li class="breadcrumb-item"><a routerLink="/admin/users">Liste des Utilisateurs</a></li>
			</ol>
		</nav>
		<h2 class="h4">Liste des Utilisateurs</h2>
	</div>
	<div class="btn-toolbar mb-2 mb-md-0">
		<a (click)="addUser()" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
			<i class="bi bi-person-add icon icon-xs me-2"></i>
			Nouvel Utilisateur
		</a>
		<!-- <div class="btn-group ms-2 ms-lg-3">
            <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
            <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
        </div> -->
	</div>
</div>