<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
	<div class="d-block mb-4 mb-md-0">
		<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
			<ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
				<li class="breadcrumb-item">
					<a routerLink="/dashboard">
						<i class="bi bi-house-door icon icon-xxs"></i>
					</a>
				</li>
				<li class="breadcrumb-item"><a routerLink="/admin/users">Liste des Utilisateurs</a></li>
			</ol>
		</nav>
		<h2 class="h4">Liste des Utilisateurs</h2>
	</div>
	<div class="btn-toolbar mb-2 mb-md-0">
		<a (click)="addUser()" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
			<i class="bi bi-person-add icon icon-xs me-2"></i>
			Nouvel Utilisateur
		</a>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-2">
				Afficher {{ result?.data.length}} / {{ result?.total}}
			</div>
			<div class="col-2 ms-auto">
				<input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="search">
			</div>
		</div>
		<div class="table table-responsive py-4">
			<table class="table table-flush" id="datatable">
				<thead class="thead-light">
					<tr>
						<th>Nom(s)</th>
						<th>Prénom(s)</th>
						<th>Email</th>
						<th>Profil</th>
						<th>Eglise</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody *ngIf="!isLoad">
					<tr *ngFor="let item of result?.data | filter: search">
						<td> {{ item.nom }} </td>
						<td> {{ item.prenom }} </td>
						<td> {{ item.email }} </td>
						<td> {{item.role.denomination }} </td>
						<td>
							<span *ngIf="item.eglise != null">{{item.eglise?.denomination }}</span>
							<span *ngIf="item.eglise === null"> - </span>
						</td>
						<td>
							<span *ngIf="item.active === '1'" class="badge bg-success">Actif</span>
							<span *ngIf="item.active === '0'" class="badge bg-danger">Inactif</span>
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-sm btn-outline-primary"> <i class="bi bi-pencil-square"></i> </a>
								<a class="btn btn-sm btn-outline-danger"> <i class="bi bi-person-x-fill"></i> </a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<app-loading *ngIf="isLoad"></app-loading>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination mb-0">
				<li class="page-item" *ngFor="let link of result?.links" [ngClass]="{'active': link.active === true}">
					<button class="page-link" (click)="paginate(link.url)" [innerHTML]="link.label"></button>
				</li>
			</ul>
		</nav>
	</div>
</div>