<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
	<div class="container">
		<p class="text-center">
			<a href="../dashboard/dashboard.html" class="d-flex align-items-center justify-content-center">
				Back to homepage
			</a>
		</p>
		<div class="row justify-content-center form-bg-image"
			data-background-lg="../../assets/img/illustrations/signin.svg">
			<div class="col-12 d-flex align-items-center justify-content-center">
				<div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
					<div class="text-center text-md-center mb-4 mt-md-0">
						<h1 class="mb-0 h3">Sign in to our platform</h1>
					</div>
					<form class="mt-4" [formGroup]="loginForm" (ngSubmit)="loginFunction()">
						<div class="form-group mb-4">
							<label for="email">Votre adresse e-mail : </label>
							<div class="input-group">
								<span class="input-group-text" id="basic-addon1">
									<i class="bi bi-envelope-fill icon icon-xs text-gray-600"></i>
								</span>
								<input type="email" class="form-control" formControlName="email" />
							</div>
							<div
								*ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
								<span *ngIf="loginForm.get('email')?.errors.required" class="error-form">
									L'adresse email est requise
								</span>
								<span *ngIf="loginForm.get('email')?.errors.email" class="error-form">
									L'adresse email n'est pas valide
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group mb-4">
								<label for="password">Votre mot de passe :</label>
								<div class="input-group">
									<span class="input-group-text" id="basic-addon2">
										<i class="bi bi-key-fill icon icon-xs text-gray-600"></i>
									</span>
									<input type="password" class="form-control" formControlName="password" />
								</div>
								<div
									*ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
									<span *ngIf="loginForm.get('password')?.errors.required" class="error-form">
										Un mot de passe est requis
									</span>
									<span *ngIf="loginForm.get('password')?.errors.minlength" class="error-form">
										Le mot de passe doit contenir au moins 6 caractères
									</span>
								</div>
							</div>
							<div class="d-flex justify-content-between align-items-top mb-4">
								<div>
									<a href="forgot-password.html" class="small text-right">Lost password?</a>
								</div>
							</div>
						</div>
						<div class="d-grid">
							<button type="submit" class="btn btn-gray-800" *ngIf="!isSubmit"
								[disabled]="!loginForm.valid">
								Connexion
							</button>
							<button class="btn btn-gray-800" *ngIf="isSubmit" disabled>
								<span class="spinner-border spinner-border-sm"></span>
								Chargement
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>