<li class="nav-item" *ngxPermissionsOnly="['list.user', 'list.role']">
	<span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
		data-bs-target="#submenu-admin">
		<span>
			<span class="sidebar-icon">
				<i class="bi bi-people-fill icon icon-xs me-2"></i>
			</span>
			<span class="sidebar-text">Administration</span>
		</span>
		<span class="link-arrow">
			<i class="bi bi-caret-right-fill icon icon-sm"></i>
		</span>
	</span>
	<div class="multi-level collapse" role="list" id="submenu-admin" aria-expanded="false">
		<ul class="flex-column nav">
			<li class="nav-item">
				<a class="nav-link" routerLink="/admin/users">
					<span class="sidebar-text-contracted">U</span>
					<span class="sidebar-text">Utilisateurs</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/admin/roles">
					<span class="sidebar-text-contracted">R</span>
					<span class="sidebar-text">Rôles</span>
				</a>
			</li>
		</ul>
	</div>
</li>